/**
 * HTML5 ✰ Boilerplate
 *
 * style.css contains a reset, font normalization and some base styles.
 *
 * Credit is left where credit is due.
 * Much inspiration was taken from these projects:
 * - yui.yahooapis.com/2.8.1/build/base/base.css
 * - camendesign.com/design/
 * - praegnanz.de/weblog/htmlcssjs-kickstart
 */


/**
 * html5doctor.com Reset Stylesheet (Eric Meyer's Reset Reloaded + HTML5 baseline)
 * v1.6.1 2010-09-17 | Authors: Eric Meyer & Richard Clark
 * html5doctor.com/html-5-reset-stylesheet/
 */

html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

blockquote, q { quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after { content: ""; content: none; }

ins { background-color: #ff9; color: #000; text-decoration: none; }

mark { background-color: #ff9; color: #000; font-style: italic; font-weight: bold; }

del { text-decoration: line-through; }

abbr[title], dfn[title] { border-bottom: 1px dotted; cursor: help; }

table { border-collapse: collapse; border-spacing: 0; }

hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }

input, select { vertical-align: middle; }


/**
 * Font normalization inspired by YUI Library's fonts.css: developer.yahoo.com/yui/
 */

body { font:13px/1.231 sans-serif; *font-size:small; } /* Hack retained to preserve specificity */
select, input, textarea, button { font:99% sans-serif; }

/* Normalize monospace sizing:
   en.wikipedia.org/wiki/MediaWiki_talk:Common.css/Archive_11#Teletype_style_fix_for_Chrome */
pre, code, kbd, samp { font-family: monospace, sans-serif; }


/**
 * Minimal base styles.
 */

/* Always force a scrollbar in non-IE */
html { overflow-y: scroll; }

/* Accessible focus treatment: people.opera.com/patrickl/experiments/keyboard/test */
a:hover, a:active { outline: none; }

ul, ol { margin-left: 1em; }
ol { list-style-type: decimal; }

/* Remove margins for navigation lists */
nav ul, nav li { margin: 0; list-style:none; list-style-image: none; }

small { font-size: 85%; }
strong, th { font-weight: bold; }

td { vertical-align: top; }

/* Set sub, sup without affecting line-height: gist.github.com/413930 */
sub, sup { font-size: 75%; line-height: 0; position: relative; }
sup { top: -0.5em; }
sub { bottom: -0.25em; }

pre {
  /* www.pathf.com/blogs/2008/05/formatting-quoted-code-in-blog-posts-css21-white-space-pre-wrap/ */
  white-space: pre; white-space: pre-wrap; word-wrap: break-word;
  padding: 15px;
}

textarea { overflow: auto; } /* www.sitepoint.com/blogs/2010/08/20/ie-remove-textarea-scrollbars/ */

.ie6 legend, .ie7 legend { margin-left: -7px; } 

/* Align checkboxes, radios, text inputs with their label by: Thierry Koblentz tjkdesign.com/ez-css/css/base.css  */
input[type="radio"] { vertical-align: text-bottom; }
input[type="checkbox"] { vertical-align: bottom; }
.ie7 input[type="checkbox"] { vertical-align: baseline; }
.ie6 input { vertical-align: text-bottom; }

/* Hand cursor on clickable input elements */
label, input[type="button"], input[type="submit"], input[type="image"], button { cursor: pointer; }

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea { margin: 0; }

/* Colors for form validity */
input:valid, textarea:valid   {  }
input:invalid, textarea:invalid {
   border-radius: 1px; -moz-box-shadow: 0px 0px 5px red; -webkit-box-shadow: 0px 0px 5px red; box-shadow: 0px 0px 5px red;
}
.no-boxshadow input:invalid, .no-boxshadow textarea:invalid { background-color: #f0dddd; }


/* These selection declarations have to be separate
   No text-shadow: twitter.com/miketaylr/status/12228805301
   Also: hot pink!
::-moz-selection{ background: #FF5E99; color:#fff; text-shadow: none; }
::selection { background:#FF5E99; color:#fff; text-shadow: none; }
*/



/* Make buttons play nice in IE:
   www.viget.com/inspire/styling-the-button-element-in-internet-explorer/ */
button {  width: auto; overflow: visible; }

/* Bicubic resizing for non-native sized IMG:
   code.flickr.com/blog/2008/11/12/on-ui-quality-the-little-things-client-side-image-resizing/ */
.ie7 img { -ms-interpolation-mode: bicubic; }

/**
 * You might tweak these..
 */

body, select, input, textarea {
  /* #444 looks better than black: twitter.com/H_FJ/statuses/11800719859 */
  color: #444;
  /* Set your base font here, to apply evenly */
  /* font-family: Georgia, serif;  */
}

/* Headers (h1, h2, etc) have no default font-size or margin; define those yourself */
h1, h2, h3, h4, h5, h6 { font-weight: bold; }

a, a:active, a:visited { color: #607890; text-decoration: none; }
a:hover { color: #036; text-decoration: underline; }

/* Generated by Font Squirrel (http://www.fontsquirrel.com) on March 24, 2011 */
/* Junction made by Caroline Hadilaksono (http://www.theleagueofmoveabletype.com/fonts/1-junction) */

@font-face {
    font-family: 'AllerLightRegular';
    src: url('../fonts/aller_lt-webfont.eot');
    src: url('../fonts/aller_lt-webfont.eot?iefix') format('eot'),
         url('../fonts/aller_lt-webfont.woff') format('woff'),
         url('../fonts/aller_lt-webfont.ttf') format('truetype'),
         url('../fonts/aller_lt-webfont.svg#webfontMwpBN7Lk') format('svg');
    font-weight: normal;
    font-style: normal;

}


	ul.tabs { 
		display: block;
		padding: 0;
		}
	ul.tabs li { 
		display: block;
		width: auto;
		height: 30px;
		padding: 0;
		float: left;
		margin-bottom: 0; 
		}
	ul.tabs li a { 
		display: block; 
		text-decoration: none;
		width: auto; 
		height: 29px; 
		padding: 0px 2em; 
		line-height: 30px; 
		border: solid 1px #ddd;
		border-width: 1px 0 1px 1px; 
		margin: 0;  
		background: #f5f5f5;
		font-size: 13px; 
    color: #333;
		}
	ul.tabs li a.active { 
		background: #fff; 
		border-right-width: 1px;
		margin: 0 -1px 0 0;
		color: #111;
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-left-radius: 2px;
		border-top-left-radius: 2px;
		-moz-border-radius-topright: 2px;
		-webkit-border-top-right-radius: 2px;
		border-top-right-radius: 2px; 
		}
	ul.tabs li:first-child a {
		-moz-border-radius-topleft: 2px;
		-webkit-border-top-left-radius: 2px;
		border-top-left-radius: 2px; 
		-moz-border-radius-bottomleft: 2px;
		-webkit-border-bottom-left-radius: 2px;
		border-bottom-left-radius: 2px; 		
		}
	ul.tabs li:last-child a {
		border-width: 1px;
		-moz-border-radius-topright: 2px;
		-webkit-border-top-right-radius: 2px;
		border-top-right-radius: 2px;
		-moz-border-radius-topbottom: 2px;
		-webkit-border-bottom-right-radius: 2px;
		border-bottom-right-radius: 2px; 		
		}
	
	ul.tabs-content { margin: 0; display: block; }
	ul.tabs-content > li { display:none; }
	ul.tabs-content > li.active { display: block; }
		
	/* Clearfixing tabs for beautiful stacking */
	ul.tabs:before,
	ul.tabs:after {
	  content: '\0020';
	  display: block;
	  overflow: hidden;
	  visibility: hidden;
	  width: 0;
	  height: 0; }
	ul.tabs:after {
	  clear: both; }
	ul.tabs {
	  zoom: 1; }
			

/* #Buttons
================================================== */
	
	a.button, 
	button,
	input[type="submit"],
	input[type="reset"],
	input[type="button"] {
		background: #eee; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,.2) 0%, rgba(0,0,0,.2) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.2)), color-stop(100%,rgba(0,0,0,.2))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(255,255,255,.2) 0%,rgba(0,0,0,.2) 100%); /* W3C */
	  border: 1px solid #aaa;
	  border-top: 1px solid #ccc;
	  border-left: 1px solid #ccc;
	  padding: 4px 12px;
	  -moz-border-radius: 3px;
	  -webkit-border-radius: 3px;
	  border-radius: 3px;
	  color: #444;
	  display: inline-block;
	  font-size: 11px;
	  font-weight: bold;
	  text-decoration: none;
	  text-shadow: 0 1px rgba(255, 255, 255, .75);
	  cursor: pointer;
	  margin-bottom: 20px;
	  line-height: 21px;
	  font-family: "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif; }
	  
	a.button:hover, 
	button:hover,
	input[type="submit"]:hover,
	input[type="reset"]:hover,
	input[type="button"]:hover {
		color: #222;
		background: #eee; /* Old browsers */
		background: -moz-linear-gradient(top, rgba(255,255,255,.3) 0%, rgba(0,0,0,.3) 100%); /* FF3.6+ */
		background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,.3)), color-stop(100%,rgba(0,0,0,.3))); /* Chrome,Safari4+ */
		background: -webkit-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Chrome10+,Safari5.1+ */
		background: -o-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* Opera11.10+ */
		background: -ms-linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* IE10+ */
		background: linear-gradient(top, rgba(255,255,255,.3) 0%,rgba(0,0,0,.3) 100%); /* W3C */
	  border: 1px solid #888;
	  border-top: 1px solid #aaa;
	  border-left: 1px solid #aaa; }
	  
  a.button:active, 
  button:active,
	input[type="submit"]:active,
	input[type="reset"]:active,
	input[type="button"]:active {
    background: #eee; /* Old browsers */
    background: -moz-linear-gradient(top, rgba(0,0,0,.3) 0%, rgba(255,255,255,.3) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(0,0,0,.3)), color-stop(100%,rgba(255,255,255,.3))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* Opera11.10+ */
    background: -ms-linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* IE10+ */
    background: linear-gradient(top, rgba(0,0,0,.3) 0%,rgba(255,255,255,.3) 100%); /* W3C */
    border: 1px solid #888;
    border-bottom: 1px solid #aaa;
    border-right: 1px solid #aaa; }
	
	.button.full-width, 
	button.full-width,
	input[type="submit"].full-width,
	input[type="reset"].full-width,
	input[type="button"].full-width { 
		width: 100%;
		padding-left: 0 !important;
		padding-right: 0 !important;
		text-align: center; }
		
/* #Forms
================================================== */

	form { 
		margin-bottom: 20px; }
	fieldset { 
		margin-bottom: 20px; }
	input[type="text"], 
	input[type="password"],
	input[type="email"],
	textarea, 
	select {
		border: 1px solid #ccc;
		padding: 6px 4px;
		outline: none;
		-moz-border-radius: 2px;
		-webkit-border-radius: 2px;
		border-radius: 2px;
		font: 13px "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;
		color: #777;
		margin: 0;
		width: 210px;
		max-width: 100%;
		display: block;
		margin-bottom: 20px;
		background: #fff; }
	select { 
		padding: 0; }
	input[type="text"]:focus,
	input[type="password"]:focus,
	input[type="email"]:focus, 
	textarea:focus {
		border: 1px solid #aaa;
 		color: #444;
 		-moz-box-shadow: 0 0 3px rgba(0,0,0,.2);
		-webkit-box-shadow: 0 0 3px rgba(0,0,0,.2);
		box-shadow:  0 0 3px rgba(0,0,0,.2); }
	textarea {
		min-height: 60px; }
	label,
	legend { 
		display: block;
		font-weight: bold;
		font-size: 13px;  }
	select { 
		width: 220px; }
	input[type="checkbox"] {
		display: inline; }
	label span,
	legend span {
		font-weight: normal;
		font-size: 13px;
		color: #444; }	
		
	input, textarea {
		
	   -moz-transition: all 0.3s linear;  /* FF4+ */
	     -o-transition: all 0.3s linear;  /* Opera 10.5+ */
	-webkit-transition: all 0.3s linear;  /* Saf3.2+, Chrome */
	    -ms-transition: all 0.3s linear;  /* IE10? */
	        transition: all 0.3s linear;  
	}	

/**
 * Primary styles
 *
 * Author: Ricardo Gonzalez
 */
body {
  font-family: AllerLightRegular, Georgia, Arial, Helvetica, sans-serif;
  background:none repeat scroll 0 0 #F7F7F7;
}
ol, ul {
  list-style: none outside none;
}

#contact-info .geo {
  display:none;
}
#contact-info .honorific-prefix {
  display:none;
}
#contact-info .nickname {
  display:none;
}
#contact-info .postal-code {
  display:none;
}
#contact-info .bday {
  display:none;
}
.vcard .tel .type {
display: none;
}
a.card {
  background:url("../img/card-address.png") no-repeat scroll left 3px transparent;
  padding:0 0 0 20px;
  margin-right: 20px;
}
a.cv {
  background:url("../img/document-stand.png") no-repeat scroll left 3px transparent;
  padding:0 0 0 20px;
}
#header {

}
ul.menu {
  float: right;
  margin: 0;
  padding: 0;
}
ul.menu li {
  display: block;
  float: left;
  margin-left: 2em;
  padding: 0;
  text-align: left;
}
ul.menu li a {
  color: #333;
  display: block;
  font: bold 14px/1.3em georgia;
  text-decoration: none;
}
ul.menu li span {
  color: #666666;
  cursor: default;
  font: 11px arial;
  margin: 0;
}
#experience header span {
  color: #999999;
  font-size: 0.5em;
  font-style: italic;
  font-weight: normal;
} 

	.skill-set {
	  list-style: none outside none;
	  margin: 0;

	}
	.skill-set li {
   background: none repeat scroll 0 0 #f7f7f7;
    border: 1px solid #DDDDDD;
    border-radius: 3px 3px 3px 3px;
    color: #333333;
    float: left;
    font-size: 0.75em;
    line-height: 0.75em;
    margin: 2px 2px 2px 0;
    padding: 4px;
    text-shadow: 0 1px 0 #FFFFFF;
        
	}

  #header-logo img{
    -moz-transition: all 1s linear 0s;
    -webkit-transition: all 1s linear 0s;
    -o-transition: all 1s linear 0s;
    transition: all 1s linear 0s;

  }
  
  #portfolio  h3 {
    font-size: 0.9em;
  }
  
  #portfolio h4 {
    color: #999999;
    font-style: italic;
    font-weight: normal;    
    display: inline;
    font-size: 0.7em;
    text-shadow: 0 1px 0 #FFFFFF;  
  }

#showcase article figure {
  background:url(../img/loader.gif) no-repeat center center;

}


#contact-form input,
#contact-form select,
#contact-form textarea {
    width:100%;
    margin-bottom:1em;
    padding:4px 0;
}


#contact-form textarea {

}

#contact-form label {
    display:block;
}

#contact-form .required {
    font-weight:bold;
    color:#F00;
}



#contact-form #loading {
    background: url("../img/loading.gif") no-repeat scroll center center transparent;
    display: none;
    height: 32px;
    width: 100%;    
}

#errors {
    border:solid 1px #E58E8E;
    margin: 0 0 1em;
    padding: 0.5em 0;
    display:block;
    -webkit-border-radius:.2em;
    -moz-border-radius:.2em;
    border-radius:.2em;
    background:#FFE6E6;
    display:none;
    font-size: 0.7em;
}

#errors li {
    padding:0 .5em;
    list-style:none;
}

#errors li:before {
    content: ' - ';
}

#errors #info {
    font-weight:bold;
}

#errors #info:before {
    content: '';
}

#success {
    border:solid 1px #83D186;
    margin: 0 0 1em;
    padding: 0.5em;
    display:block;
    -webkit-border-radius:.2em;
    -moz-border-radius:.2em;
    border-radius:.2em;
    background:#D3EDD3;
    font-weight:bold;
    display:none;
    font-size: 0.7em;
}

#errors.visible, #success.visible {
    display:block;
}

#req-field-desc {
    font-size: 0.8em;
    font-style: italic;
    text-align: right;
}
  
/* Remove box shadow firefox, chrome and opera put around required fields. It looks rubbish. */
input:required, textarea:required {
    -moz-box-shadow:none;
    -webkit-box-shadow:none;
    -o-box-shadow:none;
    box-shadow:none;
}

/* Normalize placeholder styles */

/* chrome, safari */
::-webkit-input-placeholder {
    color:#CCC;
    font-style:italic;
}

/* mozilla */
input:-moz-placeholder, textarea:-moz-placeholder {
    color:#CCC;
    font-style:italic;
}

/* ie (faux placeholder) */
input.placeholder-text, textarea.placeholder-text  {
    color:#CCC;
    font-style:italic;
}
  
  ul.tabs li:hover em, ul.tabs li a:focus em {
    text-decoration: underline;
  }
  ul.tabs li a {
    outline: 0;
  }
  
/**
 * Non-semantic helper classes: please define your styles before this section.
 */

/* For image replacement */
.ir { display: block; text-indent: -999em; overflow: hidden; background-repeat: no-repeat; text-align: left; direction: ltr; }

/* Hide for both screenreaders and browsers:
   css-discuss.incutio.com/wiki/Screenreader_Visibility */
.hidden { display: none; visibility: hidden; }

/* Hide only visually, but have it available for screenreaders: by Jon Neal.
  www.webaim.org/techniques/css/invisiblecontent/  &  j.mp/visuallyhidden */
.visuallyhidden { border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px; }
/* Extends the .visuallyhidden class to allow the element to be focusable when navigated to via the keyboard: drupal.org/node/897638 */
.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus { clip: auto; height: auto; margin: 0; overflow: visible; position: static; width: auto; }

/* Hide visually and from screenreaders, but maintain layout */
.invisible { visibility: hidden; }

/* The Magnificent Clearfix: Updated to prevent margin-collapsing on child elements.
   j.mp/bestclearfix */
.clearfix:before, .clearfix:after { content: "\0020"; display: block; height: 0; overflow: hidden; }
.clearfix:after { clear: both; }
/* Fix clearfix: blueprintcss.lighthouseapp.com/projects/15318/tickets/5-extra-margin-padding-bottom-of-page */
.clearfix { zoom: 1; }



/**
 * Media queries for responsive design.
 *
 * These follow after primary styles so they will successfully override.
 */

@media all and (orientation:portrait) {
  /* Style adjustments for portrait mode goes here */

    #header-logo img {

  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -ms-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);

  
  }

}

@media all and (orientation:landscape) {
  /* Style adjustments for landscape mode goes here */


  
  
  #header-logo img {

  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);

  
  }

}

/* Grade-A Mobile Browsers (Opera Mobile, Mobile Safari, Android Chrome)
   consider this: www.cloudfour.com/css-media-query-for-mobile-is-fools-gold/ */
@media screen and (max-width: 675px) {

  body {
    font-size: 100%;
  }
  #wrapper-content {
    width: 95%;
    margin: 0 auto;
  }
  #resume hgroup img.photo, header figure {
    display: none; visibility: hidden;
  }
  #resume section, #portfolio article, #contact section {
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
    border: 1px solid #DDDDDD;
    padding: 10px;
    margin: 1em 0;
    background-color: #FFF;      
  }
  
  #resume article {
    margin: 5px 5px 5px;
  }
  #resume header.main {
    font-size: 20px;
    margin: 5px 10px 5px 3px;
    height: 25px;
    line-height:25px;
    cursor: pointer;
  }
  #header {
    margin-top: 0.5em; 
  }
  #header-logo {
    text-align: center;
  }
  #main-menu {
    margin-top: 1em;
  }
  
	ul.tabs li a { 
		padding: 0;
    text-align: center; 
	}
  ul.tabs li {
    width: 25%;  
  }
  #resume #personal header.main h2 {
    display: block;
    visibility: visible;
  }
  #resume #contact-info {
    float: left;
    width: 80%;
  }
  #resume #social {
    float: right;
    margin: 0 4px 0 0;
    width: 42px;
    padding: 5px 0;
  }
  #resume #social img {
    vertical-align:text-bottom;
  }
  #resume #social li {
    list-style: none;
    float: left;
    padding-right:5px;
  }
  #resume ul.social-list {
    padding: 0;
    margin: 0;
  }
  #resume ul.social-list li a span {
    display: none;
    visibility: hidden;
  }  
  #resume section header.main {
    background-color: transparent;
    background-position: center right;
    background-repeat: no-repeat;
  }
  #resume section#personal header.main {
    background-image: url(../img/id-card.png);
  }
  #resume section#skills header.main {
    background-image: url(../img/gear.png);
  }    
  #resume section#experience header.main {
    background-image: url(../img/suitcase.png);
  }
  #resume section#education header.main {
    background-image: url(../img/gradhat.png);
  }
  #resume section#languages header.main {
    background-image: url(../img/chat-2.png);
  }
  #resume section#hobbies header.main {
    background-image: url(../img/controller.png);
  }
  #resume section#references header.main {
    background-image: url(../img/heart.png);
  }
  #resume section hr {
  background: url("../img/hr2.png") repeat-x scroll center center transparent;
  border: medium none;
  display: block;
  visibility: visible;
  margin: 0;
  }
  
  #portfolio section {
    
  }
  
  #portfolio article {

  }
  
  #portfolio article figure {
    border: 1px solid #DDDDDD;
    margin: 0 0 0.5em;
    overflow: hidden;
    position: relative;
  }
  
  #portfolio article figure img {
    width: 100%;
    float: left;
  }  
  
  #portfolio article figure figcaption {

  }  
  
  #portfolio section hr {
  background: url("../img/hr2.png") repeat-x scroll center center transparent;
  border: medium none;
  display: block;
  visibility: visible;
  margin: 0;
  }

  #portfolio section article figure img {

	}
 
  #portfolio section article:hover figure img {

	}
	

	.skill-set li:hover {
     	
	}  
  
  
  #contact #contact-form {

  }
  /* Uncomment if you don't want iOS and WinMobile to mobile-optimize the text for you: j.mp/textsizeadjust */
  /* html { -webkit-text-size-adjust:none; -ms-text-size-adjust:none; } */
}

@media only screen and (min-width: 676px) {
/* Styles */

  #header {
    margin-top: 0.5em;
  }
  #header-logo img{
    height: 64px;
    width: 64px;
    float: left;


  }
  
  #header-logo img:hover {
  /*
  -webkit-transform: rotate(720deg);
  -moz-transform: rotate(720deg);
  -ms-transform: rotate(720deg);
  -o-transform: rotate(720deg);
  transform: rotate(720deg);
  */
  
  }
  #main-menu {
    float: right;
    margin-top:2em;
  }
  ul.tabs li a:hover, ul.tabs li a:focus  {
    background-color: #ededed;
  }
  
  ul.tabs li { 
    -webkit-transition: all 0.2s;
    -moz-transition: all 0.2s;
  }
  ul.tabs li a {
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.2s;
  }


  
  #resume #social a {
    text-decoration: none;
  } 
  #resume #social img {
    margin: 0 5px 0 0;
    vertical-align: middle;
  }
  #resume #social img {
	  opacity: .3;
	  filter: alpha(opacity=30);
   	-webkit-transition: opacity 0.3s linear;
   	-moz-transition: opacity 0.3s linear;  
   	-o-transition: opacity 0.3s linear;   	
	  }
   
  #resume #social a:hover img{
	  opacity: 1;
	  filter: alpha(opacity=100);
   	-webkit-transition: opacity 0.3s linear;
   	-moz-transition: opacity 0.3s linear;  
   	-o-transition: opacity 0.3s linear;   	
	  }  
  #resume #social ul {
      margin: 0 0 0 1em;
      width: 12em;
      font-size: 0.8em;
  }
  #resume #social {
    border: 1px solid #DDDDDD;
    padding: 0.5em;
    box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);  
    float: right;
    background-color: #FFF;
  }
  #resume #social legend {
      color: #999999;
      font-size: 0.6em;
  }
  #resume #social ul li {
      float: left;
      padding: 0;
      width: 6em;
  }      
  #resume section {
      margin: 0 0 1em;
  }

  #resume section article {
    margin: 0 0 2em 0;
  }

  #resume section figure{
    opacity: 0;
    filter: alpha(opacity=0);
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;  
    margin: 20px;
    text-align: right;
	}
 
  #resume section:hover figure  {
    opacity: 0.1;
    filter: alpha(opacity=0.1);
    -webkit-transition: opacity 0.3s linear;
    -moz-transition: opacity 0.3s linear;
    -o-transition: opacity 0.3s linear;
    transition: opacity 0.3s linear;  
	}
	
  #resume section header.main {
    float: left;
    width: 125px;
  }

  #resume section#skills {

  }
  #resume section#skills header {

  }  
  #resume section#skills article {
    float: left;
    margin-bottom: 2em;
    width: 49%;
  }
  #resume article#tools {
    clear: left;
  }  
  #resume #contact-info {
    width: 45%;
    margin: 0;
    float: left;
  }
  .group-list {
    margin: 0 0 0 150px;
  }
  #wrapper-content {
    margin: 0 auto;
    width:90%;
  }
  #content {   
    font-size: 138.5%;
    line-height: 138.5%;
    margin: 1em 0 1em;
    padding: 1em;
    background-color: #FFF;
    -webkit-border-radius: 0.2em; 
    -moz-border-radius: 0.2em; 
    border-radius: 0.2em; 
    border: 1px solid #DDDDDD;
    /* box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2); */    
  } 
  #resume hr {
    display: none;
    visibility: hidden;
  }
  #resume header h3 {
    font-size: 20px;
    margin: 0 0 6px;
    position: relative;
  }
  #resume section header h2 {
    font-size: 22px;
    font-weight: bold;
    padding: 0 26px 0 0;
    text-align: right;
  }
  #languages ul, #hobbies ul, #references ul {
    margin-left: 0;
  }
  
  #portfolio section {
    
  }
  

  
  #portfolio article figure img {
    float: left;
    box-shadow: 1px 1px 7px rgba(153, 153, 153, 0.2);    
    max-width: 100%
  }  
  
  .ie6 #portfolio article figure img {
    width: 100%
  }  
    

  
  #portfolio section hr {
  background: url("../img/hr2.png") repeat-x scroll center center transparent;
  border: medium none;
  display: block;
  visibility: visible;
  margin: 0;
  }

  #portfolio section article figure img {
     -moz-transition: all 0.3s linear;  /* FF4+ */
       -o-transition: all 0.3s linear;  /* Opera 10.5+ */
  -webkit-transition: all 0.3s linear;  /* Saf3.2+, Chrome */
      -ms-transition: all 0.3s linear;  /* IE10? */
          transition: all 0.3s linear;  
    z-index: 1;
	}
 
  #portfolio section article figure img:hover {
    -webkit-box-shadow:0px 0px 15px gray; /*Safari shadow version*/
    -moz-box-shadow:0px 0px 15px gray; /*Mozilla shadow version*/
    box-shadow:0px 0px 15px gray; /*CSS3 shadow: 30px blurred shadow all around image*/    
    z-index: 5;
	}
  
	.skill-set li {
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;
    cursor: default;     	
	}  
	
	.skill-set li:hover {
  	background: none repeat scroll 0 0 #EEE;
    -webkit-transition: background-color 0.3s linear;
    -moz-transition: background-color 0.3s linear;
    -o-transition: background-color 0.3s linear;
    transition: background-color 0.3s linear;  	
	}
          
  #contact-form {
      width: 55%;
      float: right;
  }
  
  #main-contact-form {
    background: url("../img/stamp.png") no-repeat scroll right top transparent;
  } 
     
  #contact-form #name, #contact-form #email {
    width: 60%;
  }            
      
  #contact #contact-info {
    width: 40%;
    margin: 1em 0 0 1em;
    float: left;  
  }    
}



/* gap ----------- */
@media only screen and (min-width : 676px) and (max-width : 1024px){
  /* Styles */
  
  #portfolio article {
      margin: 0 0 1em;
  }
    
  #portfolio article figure {
      float: left;
      width: 50%;
      border: 1px solid #DDDDDD;
  }
  #portfolio article aside {
      float: right;
      width: 45%;
  }    
  
  #main-contact-form {
      background: url("../img/stamp.png") no-repeat scroll right top transparent;
  }  
}



/* iPads (portrait and landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
  /* Styles */
}


/* iPads (landscape) ----------- */
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {
  /* Styles */
}


/* iPads (portrait) ----------- */
@media only screen and (min-width : 768px) and (max-width : 1024px) and (orientation : portrait) {
  /* Styles */
  

  
}

@media only screen and (min-width: 1024px) {
  #wrapper-content {
    margin: 0 auto;
    width:960px;
  }
  
  #portfolio article {
    float: left;
    width: 48.806941432%;
    margin: 0 0 1em 0;
    
  }
  
  #portfolio article figure {
    float: left;
    width: 55%;
    border: 1px solid #DDDDDD;
  }
  #portfolio article aside {
    float: right;
    width: 41%;
  }  
      
}

/**
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 */
@media print {
  * { background: transparent !important; color: black !important; text-shadow: none !important; filter:none !important;
  -ms-filter: none !important; } /* Black prints faster: sanbeiji.com/archives/953 */
  a, a:visited { color: #444 !important; text-decoration: underline; }
  a[href]:after { content: " (" attr(href) ")"; }
  abbr[title]:after { content: " (" attr(title) ")"; }
  .ir a:after, a[href^="javascript:"]:after, a[href^="#"]:after { content: ""; }  /* Don't show links for images, or javascript/internal links */
  pre, blockquote { border: 1px solid #999; page-break-inside: avoid; }
  thead { display: table-header-group; } /* css-discuss.incutio.com/wiki/Printing_Tables */
  tr, img { page-break-inside: avoid; }
  @page { margin: 0.5cm; }
  p, h2, h3 { orphans: 3; widows: 3; }
  h2, h3{ page-break-after: avoid; }
}

